doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='pkg/semantic-ui/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    script(src='pkg/jquery/jquery.min.js')
    script(src='pkg/semantic-ui/semantic.min.js')
    title Aggroware

  body
    
    br
    br
    br
    .ui.container.center.aligned
       img.logo(src='img/aggroware.png')
    br
    
    //-.ui.container.center.aligned
    //-  p This is a placeholder site for Aggroware.
    //-br

    .ui.container.center.aligned
      p Copyright (c) Aggroware, 2022
    br
    br
    br

